{% extends 'base.html' %}

{% block title%} Register
{% endblock%}
 
{% block body %}
<div class="card">
	<form class="child-card" action="/employee/{{employee.id}}/update" method="POST">
		{% csrf_token %}
		<label for="name">Employee Name</label><br>
		<input type="text" name="name" value="{{employee.name}}"><br>
		<label for="email">Employee Email</label><br>
		<input type="email" name="email" value="{{employee.email}}"><br>
		<label for="phone_number">Phone#</label><br>
		<input type="text" name="phone_number" value="{{employee.phone_number}}"><br>
		<label for="department">Department</label><br>
		<input type="text" name="department" value="{{employee.department}}"><br>

		<input type="submit" value="Update">
	</form>
</div>

{% endblock %}